body {
  background-color: #ff99cc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
}

#greeting {
  color: white;
  font-size: 45px;  /* Reduced font size for longer text */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.2); opacity: 0.5; }
  100% { transform: scale(1); opacity: 1; }
}

.message {
  position: fixed;
  z-index: 10000;
  font-size: 15px;
  color: white;
  animation: fadeInOut 0.5s;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  20% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}

#musicController {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 10000;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

